<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.trust4.sirius.dataflow.design.Activator"
               id="org.trust4.sirius.dataflow.design"
	       name="dataflow">
    </component>
  </extension>
</plugin>
